* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100vw;
} */
.background-img {
  background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    width: 100%;
  height: 100vh;
  /* z-index: -50; */
  background-attachment: fixed;
 } 
.content {
  align-content: center;
  padding: 5em;
  justify-content: center;
}

.link {
  color: white;
  font-size: 20px!important;
}

.btn {
  margin-bottom: 10px;
  background-color: transparent;
  color: white!important;
}
.btn:hover {
  background-color: #F78C67!important;
}
p {
  color: white;
}
.logo {
  padding: 5%;
  color: white;
  text-shadow: 1px 1px 2px #F78C67;
  font-size: 120px;
}
