
.brand {
  font-size: 30px!important;
  color: white!important;
}
.navigation {
  background: none !important;
  text-emphasis-color: white!important;
}
.nav-link {
  color: white!important;
}
.icon {
  color: white!important;

}